{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Major-Project</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-image:url({% static "images/background.jpg" %});">
 
    <div class="container p-md-3">
        <h3>SPEECH EMOTION ROCOGNITION SYSTEM <br> USING DEEP LEARNING</h3>
        <div class="file-upload-section">
            <h4>Record Audio Here</a></h4>
            <form action="{% url "recording_upload" %}" method='post'>
                {% csrf_token %}
                <button type="submit" id="record-btn" onclick="startRecording()"><i class="fa-solid fa-microphone"></i></button>
                <span id="record-text">Start Recording</span>
            </form>
            {% if path %}
            <h6 class="p-3">Your file is saved in {{path}}</h6>
            <form action="{% url "recorded_audio_submit" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="audiofile">Select a recorded file:</label><br>
                <input type="file" id="audiofile" name="audiofile" accept="audio/*" required><br><br>
                <input type="submit"  value="Upload">
            </form>
            {% else %}
            {% if emotion %}
            <input type="button" data-toggle="modal" data-target="#exampleModalCenter"  value="Click to show Result">
            {% endif %}
            {% endif %}
        </div>
    
       
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Results for audio:{{audiofile}}</h5>
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <audio id="myAudio" controls>
                            <source src="{{audiofile.audio_file.url}}" type="audio/ogg">
                            <source src="{{audiofile.audio_file.url}}" type="audio/mpeg">
                            <source src="{{audiofile.audio_file.url}}" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                          
                        <div class="content">
                            <div class="result-section">
                                <img src="{% static "images/" %}{{emotion}}.png" alt="">
                                <h4>{{emotion}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function startRecording() {
            const recordBtn = document.getElementById('record-btn');
            const recordText = document.getElementById('record-text');
            
            // Update text content
            recordText.textContent = 'Recording...';
        
            // Add animation class
            recordBtn.classList.add('recording');
        
            // After 3 seconds, remove animation class and reset text
            setTimeout(function() {
                recordBtn.classList.remove('recording');
                recordText.textContent = 'Start Recording';
            }, 4000);
        
            // Start recording logic here
        }
        
        
    </script>
</body>
</html>